[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "lazygit/catppuccin"]
	path = lazygit/catppuccin
	url = https://github.com/catppuccin/lazygit.git
[submodule "alacritty/dracula"]
	path = alacritty/dracula
	url = https://github.com/dracula/alacritty.git
[submodule "bat/themes"]
	path = bat/themes
	url = https://github.com/catppuccin/bat.git
[submodule "warp/themes"]
	path = warp/themes
	url = https://github.com/lianghx-319/catppuccin-warp.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/NvChad/NvChad
