.DS_Store

tmux/plugins/*
!tmux/plugins/tpm/
nvim/plugin/packer_compiled.lua
lazygit/state.yml
fish/fish_variables
nvim/lazy-lock.json
raycast/extensions

# fisher plugins
fisher.fish
z.fish
__z.fish
__z*.fish
proxy.fish
noproxy.fish
plugin-proxy.fish
__proxy.set.fish
__bass.py
bass.fish
